<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .card{
  max-width:400px;
  background:#edf5f0;
  border-radius:2px;
  padding:12px;
  margin-top:2rem;
  margin:auto;
  text-align:center;
}
.card h3{
  color:#e93131;
}
.card a{
  color:#596be3;
}
</style>
<body>
    <div class="card">
        <h3>&#10004; Payment Failed</h3>
        <h4>Reference number - DON-4123123</h4>
        <!-- <p id="counter">The page will redirect back to portal in 9 seconds...</p> -->
        
        <a href="/my-orders">Go to my orders</a>
        
      </div>
</body>
</html>